<%- include("layout/header")  %>

  <!-- single image display -->
    <div class="">
         <img src="/banner/about.png" alt="About Us Banner" class="w-full h-auto"> 
    </div>

  <!-- Main Content -->
<main class="mt-2 mb-8">
    <h1 class="text-xl font-bold mb-3 title_color"><%= aboutContent.mainTitle %></h1>
    
    <div class="md:grid md:grid-cols-3 md:gap-4">
      <div class="col-span-2 space-y-6">
        <% aboutContent.sections.forEach(function(section) { %>
          <div>
            <h2 class="font-semibold mb-3 inline"><%= section.title %></h2>
            <% section.paragraphs.forEach(function(paragraph) { %>
              <span class="text-gray-700"><%= paragraph %></span>
            <% }) %>
          </div>
        <% }) %>
      </div>
  
      <div class="hidden md:block col-span-1 h-[400px] md:h-auto">
        <img
          src="<%= aboutContent.image.src %>"
          alt="<%= aboutContent.image.alt %>"
          class="rounded-lg shadow-lg object-cover w-full h-full"
        />
      </div>
    </div>
  </main>
  
<!-- Footer -->
<%- include("layout/footer")  %>