<%- include("layout/header")  %>

  <!-- Hero Section -->
  <div class="">
    <img src="/banner/training.png" alt="Training background" class="w-full h-full ">
  </div>

  <!-- Main Content -->
  <main class="mt-2 mb-8">
    <h1 class="text-xl font-bold mb-3 title_color"><%= careerContent.mainTitle %></h1>
    
    <div class="grid grid-cols-3 gap-4">
        <div class="col-span-2 space-y-6">
            <% careerContent.careerCategories.forEach(function(category, index) { %>
                <div>
                    <h2 class="font-semibold mb-3 inline"><%= category.title %></h2>
                    <% if (category.description) { %>
                    <span class="text-gray-600"><%= category.description %></span>
                    <% } %>
                </div>
                <% if (category.benefits) { %>
                    <ul class="custom-list">
                        <% category.benefits.forEach(function(topic) { %>
                        <li class="text-gray-700"><%= topic %></li>
                        <% }) %>
                    </ul>
                <% } %>

            <% }) %>
        </div>

        <% if (careerContent.image) { %>
            <img src="<%= careerContent.image.src %>" alt="<%= careerContent.image.alt %>" class="col-span-1 w-full h-60 float-right mb-4">
        <% } %>
    </div>
  </main>

  <footer class="text-center mt-8">
    <div id="mainbodybottom1"></div>
    <p class="text-white h-4" style="background-color:#102d6e;">Secure Mabridge © 2008-2012 All rights carefully reserved and preserved.</p>

    <div class="h-auto flex flex-row float-right pr-14 pt-5 pb-8 text-right">
      <img src="/assets/tw.png" width="80" height="23">&nbsp;&nbsp;
      <img src="/assets/fb.jpg" width="82" height="23">
    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
  <script src="/scripts/slider.js"></script>
</body>
</html>
