<%- include("layout/header")  %>

<%- include("layout/banner")  %>



  <!-- main container -->
  <main class="pb-2">
    <div class="flex flex-col-reverse md:flex-row justify-between">
        <div class="container1 w-full mt-2">
            <h2 class="text-xl font-bold mb-3 text-primary-dark"><%= content.mainContainer.title %></h2>
            <% content.mainContainer.paragraphs.forEach((paragraph, index) => { %>
                <p class="text-black <% if (index < content.mainContainer.paragraphs.length - 1) { %> mb-4 <% } %>"><%= paragraph %></p>
            <% }) %>
            <a href="<%= content.mainContainer.readMoreLink %>" class="text-secondary hover:text-accent transition-colors underline">Read More</a>
        </div>
        <div class="container2 overflow-hidden">
            <div class="bg-white flex md:flex-col items-center">
                <div class="bg-gray-100 md:bg-transparent md:mb-4 text-lg md:text-2xl font-bold pr-2 no-wrap"><%= content.mainContainer.newsTitle %></div>
                <marquee id="news-marquee" class="bg-white" scrollamount="3">
                    <% content.mainContainer.newsItems.forEach(function(newsItem) { %>
                      <b class="marquee-item"><%= newsItem %></b>&nbsp;&nbsp;&nbsp;
                    <% }) %>
                </marquee>
            </div>
        </div>
    </div>
  </main>

  <div class="grid grid-cols-1 md:grid-cols-3 md:gap-8 mt-3">
    <!-- Services Section -->
    <div class="w-[300px] h-[201px] mt-0 bg-no-repeat bg-cover" style="background-image: url('/assets/box.jpg');">
      <div class="card-header text-[17px] pt-2 pl-5" >
        <h2 class="text-primary-dark font-bold text-base leading-none mb-4 ">Services</h2>
      </div>
      <div class="card-content pt-4 pl-10">
        <ul class="">
          <% data.services.forEach(function(service) { %>
            <li class="flex items-center space-x-2 text-gray-600 hover:text-accent">
              <span class="h-2 w-2" style="background-image: url('/assets/bullet.jpg');"></span>
              <a href="#" class="text-xs hover:text-accent"><%= service %></a>
            </li>
          <% }) %>
        </ul>
        <br>
        <div class="flex items-center justify-end pb-1">
          <span class="h-3 w-4" style="background-image: url('/assets/more.jpg');"></span>
          <a href="/services" class="text-xs hover:underline block pr-1 text-secondary hover:text-accent transition-colors">More</a>
        </div>
      </div>
    </div>

    <!-- Solutions Section -->
     <div class="w-[300px] h-[201px] mt-0 bg-no-repeat bg-cover" style="background-image: url('/assets/box.jpg');">
      <div class="card-header text-[17px] pt-2 pl-5" >
        <h2 class="text-primary-dark font-bold text-base leading-none mb-4">Solutions</h2>
      </div>
      <div class="card-content pt-4 pl-10">
        <ul class="">
          <% data.services.forEach(function(solution) { %>
            <li class="flex items-center space-x-2 text-gray-600 hover:text-accent">
              <span class="h-2 w-2" style="background-image: url('/assets/bullet.jpg');"></span>
              <a href="#" class="text-xs"><%= solution %></a>
            </li>
          <% }) %>
        </ul>
        <br>
        <div class="flex items-center justify-end pb-1">
          <span class="h-3 w-4" style="background-image: url('/assets/more.jpg');"></span>
          <a href="/services" class="text-xs hover:underline block pr-1 text-secondary hover:text-accent transition-colors">More</a>
        </div>
      </div>
    </div>

    <!-- Training Section -->
     <div class="w-[300px] h-[201px] mt-0 bg-no-repeat bg-cover" style="background-image: url('/assets/box.jpg');">
      <div class="card-header text-[17px] pt-2 pl-5" >
        <h2 class="text-primary-dark font-bold text-base leading-none mb-4">Training</h2>
      </div>
      <div class="card-content pt-4 pl-10">
        <ul class="">
          <% data.services.forEach(function(training) { %>
            <li class="flex items-center space-x-2 text-gray-600 hover:text-accent">
              <span class="h-2 w-2" style="background-image: url('/assets/bullet.jpg');"></span>
              <a href="#" class="text-xs "><%= training %></a>
            </li>
          <% }) %>
        </ul>
        <br>
        <div class="flex items-center justify-end pb-1">
          <span class="h-3 w-4" style="background-image: url('/assets/more.jpg');"></span>
          <a href="/services" class="text-xs hover:underline block pr-1 text-secondary hover:text-accent transition-colors">More</a>
        </div>
      </div>
    </div>

  </div>
  
  <!-- Footer -->
  <%- include("layout/footer")  %>

