<%- include("layout/header")  %>

<%- include("layout/banner")  %>

  <!-- main container -->
  <main class="mt-5 pb-2">
    <div class="flex justify-between">
      <div class="container1 w-full">
        <h2 class="text-xl font-bold mb-3 title_color"><%= content.mainContainer.title %></h2>
        <% content.mainContainer.paragraphs.forEach((paragraph, index) => { %>
          <p class="text-black <% if (index < content.mainContainer.paragraphs.length - 1) { %> mb-4 <% } %>"><%= paragraph %></p>
        <% }) %>
        <a href="<%= content.mainContainer.readMoreLink %>" class="text-yellow-700 underline">Read More</a>
      </div>
      <div class="container2">
        <h2 class="text-2xl font-bold mb-4 title_home"><%= content.mainContainer.newsTitle %></h2>
        <marquee class="bg-white" scrollamount="3" direction="up" loop="true" width="100%" height="100px;">
          <% content.mainContainer.newsItems.forEach(function(newsItem) { %>
            <b><%= newsItem %></b><br><br>
          <% }) %>
        </marquee>
      </div>
    </div>
  </main>

  <div class="grid grid-cols-3 gap-8 mt-3">
    <!-- Services Section -->
    <div class="w-[300px] h-[201px] mt-0 bg-no-repeat bg-cover" style="background-image: url('/assets/box.jpg');">
      <div class="card-header text-[17px] pt-2 pl-5" >
        <h2 class="card-title text-base leading-none mb-4" style="color: #102d6e ;">Services</h2>
      </div>
      <div class="card-content pt-4 pl-10">
        <ul class="">
          <% data.services.forEach(function(service) { %>
            <li class="flex items-center space-x-2" style="color: #102d6e ;">
              <span class="h-2 w-2" style="background-image: url('/assets/bullet.jpg');"></span>
              <a href="#" class="text-xs hover:text-blue-500"><%= service %></a>
            </li>
          <% }) %>
        </ul>
        <br>
        <div class="flex items-center justify-end pb-1" style="color: #102d6e ;">
          <span class="h-3 w-4" style="background-image: url('/assets/more.jpg');"></span>
          <a href="/services" class="text-xs hover:underline block pr-1">More</a>
        </div>
      </div>
    </div>

    <!-- Solutions Section -->
     <div class="w-[300px] h-[201px] mt-0 bg-no-repeat bg-cover" style="background-image: url('/assets/box.jpg');">
      <div class="card-header text-[17px] pt-2 pl-5" >
        <h2 class="card-title text-base leading-none mb-4" style="color: #102d6e ;">Solutions</h2>
      </div>
      <div class="card-content pt-4 pl-10">
        <ul class="">
          <% data.services.forEach(function(solution) { %>
            <li class="flex items-center space-x-2" style="color: #102d6e ;">
              <span class="h-2 w-2" style="background-image: url('/assets/bullet.jpg');"></span>
              <a href="#" class="text-xs hover:text-blue-500"><%= solution %></a>
            </li>
          <% }) %>
        </ul>
        <br>
        <div class="flex items-center justify-end pb-1" style="color: #102d6e ;">
          <span class="h-3 w-4" style="background-image: url('/assets/more.jpg');"></span>
          <a href="/services" class="text-xs hover:underline block pr-1">More</a>
        </div>
      </div>
    </div>

    <!-- Training Section -->
     <div class="w-[300px] h-[201px] mt-0 bg-no-repeat bg-cover" style="background-image: url('/assets/box.jpg');">
      <div class="card-header text-[17px] pt-2 pl-5" >
        <h2 class="card-title text-base leading-none mb-4" style="color: #102d6e ;">Training</h2>
      </div>
      <div class="card-content pt-4 pl-10">
        <ul class="">
          <% data.services.forEach(function(training) { %>
            <li class="flex items-center space-x-2" style="color: #102d6e ;">
              <span class="h-2 w-2" style="background-image: url('/assets/bullet.jpg');"></span>
              <a href="#" class="text-xs hover:text-blue-500"><%= training %></a>
            </li>
          <% }) %>
        </ul>
        <br>
        <div class="flex items-center justify-end pb-1" style="color: #102d6e ;">
          <span class="h-3 w-4" style="background-image: url('/assets/more.jpg');"></span>
          <a href="/services" class="text-xs hover:underline block pr-1">More</a>
        </div>
      </div>
    </div>

  </div>
  
  <!-- Footer -->
  <%- include("layout/footer")  %>