<%- include("layout/header")  %>

  <!-- Hero Section -->
  <div class="">
    <img src="/banner/services.png" alt="Services background" class="w-full h-full ">
  </div>

  <!-- Main Content -->
  <main class="mt-2 mb-8">
    <h1 class="text-xl font-bold mb-3 title_color"><%= servicesContent.mainTitle %></h1>
    
    <div class="grid gap-2">
      <% servicesContent.serviceCategories.forEach(function(category, index) { %>
        <div class="overflow-hidden">
          <div class="">
            <h2 class="font-bold"><%= category.title %></h2>
          </div>
          <!-- <% if (servicesContent.image) { %> <img src="<%= servicesContent.image %>" alt="<%= servicesContent.image.alt %> image" class="w-full h-60 float-right ml-4 mb-4"> <% } %> -->
          <div>
            <% if (category.description) { %>
              <p class="text-gray-600 mb-2"><%= category.description %></p>
            <% } %>
            <% if (category.items) { %>
              <ul class="custom-list">
                <% category.items.forEach(function(item) { %>
                  <li class="text-gray-700"><%= item %></li>
                <% }) %>
              </ul>
            <% } %>
            <% if (category.benefits) { %>
              <div class="mt-2">
                <ul class="custom-list">
                  <% category.benefits.forEach(function(benefit) { %>
                    <li class="text-gray-700"><%= benefit %></li>
                  <% }) %>
                </ul>
              </div>
            <% } %>
            <% if (category.services) { %>
              <div class="mt-2">
                <ul class="custom-list">
                  <% category.services.forEach(function(service) { %>
                    <li class="text-gray-700"><%= service %></li>
                  <% }) %>
                </ul>
              </div>
            <% } %>
            <% if (category.features) { %>
              <div class="mt-2">
                <ul class="custom-list">
                  <% category.features.forEach(function(feature) { %>
                    <li class="text-gray-700"><%= feature %></li>
                  <% }) %>
                </ul>
              </div>
            <% } %>
          </div>
        </div>
      <% }) %>
    </div>
  </main>

 <!-- Footer -->
 <%- include("layout/footer")  %>