<%- include("layout/header")  %>

  <!-- Hero Section -->
  <div class="">
    <img src="/banner/services.png" alt="Services background" class="w-full h-full">
  </div>

  <!-- Main Content -->
  <main class="mt-2 mb-8">
    <h1 class="text-xl font-bold mb-3 title_color"><%= solutionsContent.mainTitle %></h1>
    
    <div class="md:grid md:grid-cols-3 md:gap-4">
      <div class="col-span-2 space-y-6">
      <% solutionsContent.solutionCategories.forEach(function(category, index) { %>
        <div>
            <h2 class="font-semibold mb-3 inline"><%= category.title %></h2>
            <% if (category.description) { %>
              <span class="text-gray-600"><%= category.description %></span>
            <% } %>
          </div>
          <% if (category.items) { %>
            <ul class="custom-list">
              <% category.items.forEach(function(item) { %>
                <li class="text-gray-700"><%= item %></li>
              <% }) %>
            </ul>
          <% } %>
        </div>
      <% }) %>

      <% if (solutionsContent.image) { %>
        <div class="hidden md:block col-span-1 h-[400px] md:h-auto">
        <img src="<%= solutionsContent.image.src %>" alt="<%= solutionsContent.image.alt %>" class="col-span-1 w-full h-60 float-right mb-4">
      </div>
      <% } %>
    </div>
  </main>

  <!-- Footer -->
  <%- include("layout/footer")  %>
